services:
  app:
    build: .
    volumes:
      - .:/code
      - target:/code/target
      - "~/.ssh:/home/app/.ssh"
      - "~/.aws:/home/app/.aws"
      - "~/.gitconfig:/home/app/.gitconfig"
      - "~/.gitignore:/home/app/.gitignore"
    working_dir: /code
    ports:
      - "3000:3000"
    depends_on:
      - jaeger
    environment:
      BUILD_ENV: dev
      CARGO_HOME: /code/.cargo
      CARGO_TARGET_DIR: /code/target
      CARGO_MAKE_DISABLE_UPDATE_CHECK: 1
    networks:
      - default

  jaeger:
    image: jaegertracing/all-in-one:1.35
    ports:
      - "16685:16685"
      - "16686:16686"
      - "55681:55681"
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
      COLLECTOR_OTLP_HTTP_HOST_PORT: 55681

volumes:
  target: {}
